/* 
    Created on : Jul 30, 2014, 10:20:58 AM
    Author     : a_matskevich
*/

.ajaxStatusPanel{
    display:block; position:absolute; top:11px; left:500px; width:auto;
    height:auto; z-index: 99999;
}

.myPanelGridLeft {
    vertical-align: top;
    width: 400px;
}

.myPanelGridRight {
    vertical-align: top;
}

.myPGrid {
    width: 100%;
    border:none;
}

.gatherThingsGrid {
    margin-top:20px;
    border: 1px solid green;
    position: absolute;
    top: 30px;
    left: 100px;
}

.col13GatherThingsGrid {
    width: 200px;
    height: 100px;
    
    border-style: solid; 
    border-color: green;
    border-width: 1px;
}

.col2GatherThingsGrid {
    border-style: solid; 
    border-color: green;
    border-width: 1px;
}

/*.centerLayout{
    background-image : url(images/bonfire.gif) ;
}*/

.thingsPickList {
    width: 600px;
    height: 600px;
    border:1px solid red;
    position:relative;
    left:200px;
    background-image : url(images/bonfire.gif);
    background-repeat:no-repeat;
    background-position:bottom right;
}

input.uppercase {
    text-transform: uppercase;
}

.uppercase > input {
    text-transform: uppercase;
}


.footerXLS {
    text-decoration: none;
    float:right;
}

.footerBtn {
    /*float: left;*/
}